/* Add your styles here */

* {
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 350px;
  /* background: url(https://sun9-36.userapi.com/impg/IIUM3K0MFGutSz56jZX6LypUfyxWm8aHRP8j6g/Zy4Gv7nC3GM.jpg?size=1080x1350&quality=95&sign=6742f6ae2def1c3ed79082a7c216f324&type=album) no-repeat; */
  background-size: 100%;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); 
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 10px;
}

input {
  width: 300px;
  border: none;
  border-bottom: 1px solid silver;
  padding: 10px;
  margin-top: 30px;
}

input:focus {
  width: 300px;
  border: none;
  border-bottom: 1px solid silver;
}

button:hover {
  opacity: 0.85;
}

button {
  margin-top: 30px;
  padding: 10px;
  width: 150px;
  /* background-color: #f1e1ec; */
  background: black;
  color: white;
  border: none;
  font-weight: bold;
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  form {
    width: 100%;
    float: right;
    padding: 10px;
  }
  button {
    background: black;
  }
}
