@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Nunito+Sans:wght@200&family=Playfair+Display&family=Roboto:wght@300&display=swap');

/* font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */


* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;  
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('https://sun9-26.userapi.com/dJn8T8tpbMYhiX38EmsI8igJuvJsx67x6_97Kw/6TeTWu3eOIQ.jpg') no-repeat;
    background-size: cover;
    background-position: right;
}

.wrapper {
  padding-bottom: 200px;
}

.container {
  max-width: 800px;
  /* border: 1px solid blue; */
  margin: 0 auto;
}

.services-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px;
  background-color: #fff;
  opacity: 0.8;
  color: #111111;
}

.services {
  padding: 15px;
}

.services__list {
  display: flex;
  flex-direction: column;
}

.services__list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 15px;
  /* border: 1px solid black; */
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  opacity: 0.8;
}


.services__list-item--opacity {
  opacity: 1;
}

.services__name{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  /* border: 1px solid #fd82b1; */
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;

}

.services__price, .result {
  min-width: 70px;
  max-width: 70px;
  text-align: center;
  padding: 5px;
  background-color: #fd82b1;
  /* border: 1px solid #fd82b1; */
  color: aliceblue;
  margin-left: auto;
}

.services__check {
  /* border: 1px solid #fd82b1; */
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.check-selected {
  /* background-color: #fd82b1; */
  background: url(check.png);
  background-size: 40px 40px;
}

.section-summary {
  height: 376px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  /* border-top: 1px solid #fd82b1; */
  /* background-color: rgb(247, 242, 248); */
  position: fixed;
  top: calc(100% - 125px);
  padding: 15px;
}

.section-summary p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.result-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 300px;
}

.result-without {
  font-size: 16px;
  border: none;
  color: #999;
  text-decoration: line-through;
  min-width: 70px;
  max-width: 70px;
  text-align: center;
  padding: 10px;
}

.result {
    margin-left: 15px;
}

.btn, #save {
  width: 150px;
  text-align: center;
  padding: 10px;
  background-color: #000;
  opacity: 0.8;
  color:aliceblue;
  margin: 0 auto;
  font-size: 18px;
}

.cal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.margin-right-10px {
  margin-right: 10px;
}

.form-entry {
  padding: 15px;
  padding-bottom: 15px;
  
}

.form-entry__wrapper {
  position: static;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
  background-size: 100%;
  opacity: 0.8;
  border-radius: 10px;
}

input {
  width: 300px;
  border: none;
  border-bottom: 1px solid silver;
  padding: 10px;
  margin-top: 30px;
}


#save:hover {
  opacity: 0.85;
}

.close {

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 25px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  margin-right: 50px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.none {
  display: none;
}

@media screen and (max-width: 480px) {
.form-entry__wrapper {
    width: 100%;
    float: right;
    padding: 10px;
  }
  #save {
    background: black;
  }
}
